:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--font-mono: "Fira Mono", monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: #000000b3;
	--white-color-text: #fff;

	font-family: var(--font-body);
	color: var(--color-text);
}

.sunny-day {
	/* Основной цвет цифра */
	--sudoku-text-color: #283593;

	/* Цвет цифры с ошибкой */
	--error-text-color: #e55c6c;

	/* Цвет правильной цифры */
	--solved-text-color: #4caf50;

	/* Цвет активного региона цифры */
	--sudoku-active-region: #e2ebf3;

	/* Цвет активной ячейки */
	--sudoku-active-field: #b3e5fc;

	/* Цвет активной линии */
	--sudoku-active-line: #e2ebf3;

	/* Фон ячейки с ошибкой */
	--sudoku-error-field: #f7cfd6;

	/* Цвет границы региона */
	--sudoku-region-border: #283593;

	/* Цвет границы обычных ячеек */
	--sudoku-field-border: #bfc6d4;

	/* Фон ячейки */
	--sudoku-field-color: #e1f5fe;

	/* Фон приложения */
	--app-background: #cedce8;
}
.classic {
	/* Основной цвет цифра */
	--sudoku-text-color: #0d47a1;

	/* Цвет цифры с ошибкой */
	--error-text-color: #e53935;

	/* Цвет правильной цифры */
	--solved-text-color: #43a047;

	/* Цвет активного региона цифры */
	--sudoku-active-region: #e2ebf3;

	/* Цвет активной ячейки */
	--sudoku-active-field: #bbdefb;

	/* Цвет активной линии */
	--sudoku-active-line: #e2ebf3;

	/* Фон ячейки с ошибкой */
	--sudoku-error-field: #ffcdd2;

	/* Цвет границы региона */
	--sudoku-region-border: #0d47a1;

	/* Цвет границы обычных ячеек */
	--sudoku-field-border: #bdbdbd;

	/* Фон ячейки */
	--sudoku-field-color: #ffffff;

	/* Фон приложения */
	--app-background: #ffffff;
}
.light-rose {
	/* Основной цвет цифра */
	--sudoku-text-color: #333333;

	/* Цвет цифры с ошибкой */
	--error-text-color: #e53935;

	/* Цвет правильной цифры */
	--solved-text-color: #00c853;

	/* Цвет активного региона цифры */
	--sudoku-active-region: #f3e5f5;

	/* Цвет активной ячейки */
	--sudoku-active-field: #ffcc80;

	/* Цвет активной линии */
	--sudoku-active-line: #f3e5f5;

	/* Фон ячейки с ошибкой */
	--sudoku-error-field: #f7cfd6;

	/* Цвет границы региона */
	--sudoku-region-border: #333333;

	/* Цвет границы обычных ячеек */
	--sudoku-field-border: #bfc6d4;

	/* Фон ячейки */
	--sudoku-field-color: #ffffff;

	/* Фон приложения */
	--app-background: #cedce8;
}
.dark {
	/* Основной цвет цифра */
	--sudoku-text-color: #f5f5f5;

	/* Цвет цифры с ошибкой */
	--error-text-color: #ff6666;

	/* Цвет правильной цифры */
	--solved-text-color: #66cc66;

	/* Цвет активного региона цифры */
	--sudoku-active-region: #2a2a2a;

	/* Цвет активной ячейки */
	--sudoku-active-field: #505050;

	/* Цвет активной линии */
	--sudoku-active-line: #2a2a2a;

	/* Фон ячейки с ошибкой */
	--sudoku-error-field: #550000;

	/* Цвет границы региона */
	--sudoku-region-border: #bbbbbb;

	/* Цвет границы обычных ячеек */
	--sudoku-field-border: #666666;

	/* Фон ячейки */
	--sudoku-field-color: #1a1a1a;

	/* Фон приложения */
	--app-background: #121212;
}
body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--app-background);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}
.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
